# Project Values
SCRIPT_FOLDER = "scripts/"
EMBEDDINGS_FOLDER = "embeddings/"
LOGS_FOLDER = "logs/"
EPISODES_TO_LLM_SPLIT = ["4x01 The Freshman", "4x02 Living Conditions", "4x22 Restless"]

# Database paths for different embedding models
db_path = "./vector_db_all-MiniLM-L6-v2.db"
#db_path = "./vector_db_cde-small-v2-x2.db"
#db_path = "./vector_db-nomic.db"
#db_path = "./vector_db-multi-qa-mpnet-base-dot-v1.db"
# Web Scraping Values

FOREVER_DREAMING_URL = "https://transcripts.foreverdreaming.org/viewtopic.php?t=8296&sid=943ebb32f0511dfed8eaf1a1e89614ec"
OFFLINE_BUFFY_URL = "http://offline.buffy.de/www.buffy-vs-angel.com/guide.shtml"
SAD_URL = "https://www.sunnydaleafterdark.com/transcripts.php"

[HEADERS]
User-Agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"

[SEARCH]
initial_k = 200
initial_k_buffer = 3 
final_k = 20

[WINDOW]
window_size = 8
step_size = 3
scene_split_markers = [
        "cut ",
        "(cut ",
        "dissolve to",
        "~~~~~~~",
        "==",
        "***",
        "act ",
        "episode opens",
        "open on",
        "-------",
    ]

[EMBEDDING_MODEL]
model_name = "all-MiniLM-L6-v2"
#model_name = "multi-qa-mpnet-base-dot-v1"
#model_name = "multi-qa-mpnet-base-dot-v1"
#model_name = "nomic-ai/nomic-embed-text-v1.5"
#model_name = "jxm/cde-small-v2"
model_dim = 384
#model_dim = 768
crossencoder_model = "cross-encoder/ms-marco-MiniLM-L-12-v2"

[[NER.location.examples]]
text = """Cut to the Summers house. Cut inside. Joyce is writing out a few bills. She hears a knocking at the door, and looks up. She goes over to the door and answers it. She is surprised at who she sees standing there. """ 
extraction_text = "Summers house" 
location_descr = "Inside Buffy Summer's house"



[[NER.location.examples]]
text = """~~~~~~~~~~ Part 1 ~~~~~~~~~~
    Sunnydale High School. Cut to the hall. Cordelia is demonstrating her fake laugh to another girl.
    CORDELIA
    (fake laughter) See? Dr. Debi says when a man is speaking you make serious eye contact, and you really, really listen, and you laugh at everything he says. (laughs again)
    """
extraction_text = "Sunnydale High School" 
location_descr = "Sunnydale High School hall"

[[NER.location.examples]]
text = """Outside Angelus' mansion. The camera pans along its dark facade. Cut to the street. Buffy walks toward the mansion at a determined pace with the sword wrapped in a cloth. Suddenly Xander comes running out of the bushes on the hillside and jumps into the street in front of her. She startles and takes a reflexive step back.
    """
extraction_text = "Angelus' mansion" 
location_descr = "Street outside Angelus' mansion"

[[NER.location.examples]]
text = """~~~~~~~~~~ Part 1 ~~~~~~~~~~
    Sunnydale High School. Cut to the hall. Cordelia is demonstrating her fake laugh to another girl.
    CORDELIA
    (fake laughter) See? Dr. Debi says when a man is speaking you make serious eye contact, and you really, really listen, and you laugh at everything he says. (laughs again)
    """
extraction_text = "Sunnydale High School" 
location_descr = "Sunnydale High School hall"

[[NER.location.examples]]
text = """Outside Angelus' mansion. The camera pans along its dark facade. Cut to the street. Buffy walks toward the mansion at a determined pace with the sword wrapped in a cloth. Suddenly Xander comes running out of the bushes on the hillside and jumps into the street in front of her. She startles and takes a reflexive step back.
    """
extraction_text = "Angelus' mansion" 
location_descr = "Street outside Angelus' mansion"

[[NER.location.examples]]
text = """ ~~~~~~~~~~ Part 2 ~~~~~~~~~~

 A wood in Rumania, 1898. Angelus runs through the trees, panting in his desperation to reach a gypsy camp. Cut to the camp. The camera pans across the dead body of the young Kalderash Gypsy girl that Angelus has recently killed. She is on a table dressed in white and lying on an intricately patterned quilt with candles burning around the perimeter. Members of the clan are laying rose petals on her. The camera continues to pan over to the Elder Woman sitting beneath a tent canopy and chanting over an Orb of Thesulah surrounded by candles within a sacred circle. Angelus continues running through the woods as she chants.

ELDER WOMAN
Nici mort, nici de-al fiintei, Te invoc, spirit al trecerii. Reda trupului ce separa omul de animal!
"""
extraction_text = "A wood in Rumania, 1898" 
location_descr = "A flashback to a wood in Rumania, 1898"

[[NER.location.examples]]
text = """Cut to:
23     INT.     BRONZE NIGHT CLUB - NIGHT
Aimee Mann performs her song \"Pavlov's Bells\" on stage at The Bronze."""
extraction_text = "INT.     BRONZE NIGHT CLUB - NIGHT"
location_descr = "At night inside the Bronze Night Club"

[[NER.location.examples]]
text = """
Cut to Joyce driving home in her Jeep. Cut to a view of her from the lawn nearing the house. As she turns into the driveway the camera pulls back, and Angelus' legs come into view. Joyce sees him as she pulls to a stop and turns off the engine. He approaches her open car window. 

ANGELUS
Mrs. Summers, I need to talk to you.

JOYCE
(gets out with a bag of groceries) You're Angel.

ANGELUS
(pushes the door closed) Did Buffy tell you about us?

JOYCE
She told me she wants you to leave her alone.

ANGELUS
I-I can't. I can't do that.

JOYCE
You're scaring her.

ANGELUS
You have to help me. (she starts toward the house) Joyce... (follows her) I need, I need to be with her. Y-you can convince her. You have to convince her.

"""
extraction_text = "the lawn nearing the house"
location_descr = "In front of the house"

[[NER.location.examples]]
text = """
Cut to the school. The camera pans from the street to the main building. Cut to Joyce pulling up to the school in her Jeep to drop off Buffy.

JOYCE
Okay!

Buffy gets out."""
extraction_text = "the school"
location_descr = "near the car, by school"

[[NER.location.examples]]
text = """
Cut outside. Buffy comes out of the hall and looks around for Cordelia.

She sees her and starts to follow. Cut to Mr. Pole, the Driver's Ed.

Teacher. He's waiting impatiently for Cordelia. He turns and sees her coming.

Mr. Pole: Nice of you to join us, Cordelia. We didn't keep you waiting or anything, did we? It's your turn to drive. Okay, people, let's buckle up.

CORDELIA
(goes around the front of the car) I don't wanna drive today, Mr. Pole.

Mr. Pole: You've flunked Driver's Ed. twice already. Show me some moves, or you'll be taking the bus to college.

He gets in the car. Cordelia gets in last. Buffy watches from behind a school bus."""
extraction_text = "in the car"
location_descr = "Inside the Driver's Ed car"

